 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets\style.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets\nav_bar.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets\index.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets\travel_card.css"/>

    <script src="javascripts\map.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <title></title>
  </head>
  <body>
      {% include 'nav_bar.twig' %}

      <main class="has-background-black-bis">
        {% block body %}
        {% endblock %}
      </main>

      <div id="footer">

      </div>
  </body>
</html>

