<div class="box container has-background-black-ter has-text-white-ter">
  <p class="has-text-white-bis title is-3">Vous aves deja un compte ?</p>
  <p class="has-text-white-bis title is-4">Cliquez ici pour vous connecter</p>

  <a class="button has-background-white-ter has-text-black-ter" href="/logIn">Se connecter</a>
</div>