<div class="box container has-background-black-ter has-text-white-ter">
	<p class="has-text-white-bis title is-3">Création de compte</p>
	<form action="/signup" method="POST">
		<div class="field has-text-white-ter">
			<label class="label">Nom</label>
			<p class="control has-icons-left">
				<input class="input" type="text" name="name" placeholder="Jean">
				<span class="icon is-small is-left">
					<i class="material-icons-round">face</i>
				</span>
			</p>
		</div>
		<div class="field">
			<label class="label">Prénom</label>
			<p class="control has-icons-left">
				<input class="input" type="text" name="surname" placeholder="Dujardin">
				<span class="icon is-small is-left">
					<i class="material-icons-round">face</i>
				</span>
			</p>
		</div>
		<div class="field">
			<label class="label">Numéro de téléphone</label>
			<p class="control has-icons-left">
				<input class="input" type="tel" name="phone" placeholder="e.g. 438 526 xxxx">
				<span class="icon is-small is-left">
					<i class="material-icons-round">phone</i>
				</span>
			</p>
		</div>
		<div class="field">
			<label class="label">Adresse mail</label>
			<p class="control has-icons-left">
				<input class="input" type="email" name="email" placeholder="e.g. example@.com">
				<i class="fas fa-envelope"></i>
				<span class="icon is-small is-left">
					<span class="material-icons-round">mail</span>
				</span>
			</p>
		</div>
		<div class="field">
			<label class="label">Mot de passe</label>
			<p class="control has-icons-left">
				<input class="input" type="password" name="password" placeholder="********">
				<span class="icon is-small is-left">
					<i class="material-icons-round">lock</i>
				</span>
			</p>
		</div>

		<button class="button has-background-white-ter has-text-black-ter" type="submit" name="submit" value="Creation">S'enregistrer</button>

	</form>
</div>
