<footer class="footer is-black has-background-black-ter has-text-white-ter">
  <div class="content has-text-centered">
    <p>
      Carbay by Amar Hadjares, Taha El Koutbi, Mathias Havekes.
    </p>
  </div>
</footer>