{% extends 'base.twig' %}

{% block body %}
  <div class="home-page container is-fullhd">
    <div class="titles">
      <p class="has-text-white-bis title is-1">Venez découvrir le Quebec avec CarBay</p>
      <p class="has-text-white-bis title is-3">Des centaines de destinations vous attendes !</p>
    </div>

    <div class="travel-viewer">
      {% for pictures in destination_pictures %}
        {% include 'travel_card.twig' %},
      {% endfor %}
    </div>

    <div class="titles">
      <p class="has-text-white-bis title is-1">Des dixaines de voitures disponibles</p>
      <p class="has-text-white-bis title is-3">Sauvez la planète en optant pour des modèles électriques ou hybrides !</p>
    </div>


  </div>
{% endblock %}
