{% extends 'base.twig' %}

{% block body %}
  <p class="has-text-white-bis title is-1">Venez découvrir le Quebec avec CarBay</p>
  <p class="has-text-warning subtitle is-3">Des centaines de destinations vous attendes !</p>
  <div class="travel-viewer">

  </div>
{% endblock %}
