{% extends 'base.twig' %}

{% block body %}
<div class="container">
      <h5 class="titre">Connexion</h5>
<form action="/login" method="POST">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input  class="input" type="email"  id="Email" name="Email" Placeholder="Email...">       
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-left">
          <span class="material-icons-round">mail</span>
        </span>
      </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password"  id="Password" name="Password" Placeholder="Mot de passe...">
        <span class="icon is-small is-left">
          <i class="material-icons-round">lock</i>
        </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success" name="button" value="Connexion">
        Se connecter
      </button>
    </p>
  </form>
</div>

{% endblock %}
