<div class="box container has-background-black-ter has-text-white-ter dates">
  <p class="subtitle is-4 has-text-white-ter">Enregistrez la durée de votre location</p>
  <div class="field">
    <label class="label has-text-white-ter">Sélectionnez la date du début de la location</label>
    <input type="date" name="startDate" class="input is-normal calendar">
  </div>

  <div class="field">
    <label class="label has-text-white-ter">Sélectionnez la date de fin de la location</label>
    <input type="date" name="endDate" class="input is-normal calendar">
  </div>
</div>