{% extends 'base.twig' %}

{% block body %}
  <div class="container is-fullhd">
    <div class="section is-medium">
      {% include 'fillAccountCreation.twig' %}
    </div>

    <div class="section is-medium">
      {% include 'connectIfAccountExist.twig' %}
    </div>
  </div>
{% endblock %}