<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images\quebec.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
        <p class="title is-4">John Smith</p>
        <p class="subtitle is-4">@johnsmith</p>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
    </div>
  </div>
</div>