<div class="card has-background-black-ter has-text-white-ter">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{ pictures }} alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
        <p class="subtitle is-4 has-text-white-ter">johnsmith</p>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. 
      <br>
    </div>
  </div>
</div>