@import url("colors.css");

.home-page {
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    text-align: center;
}
.subtitle {
    text-align: center;
}

.travel-viewer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
