@import url("colors.css");

* {
  font-family: 'Titillium Web', sans-serif;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

img {
  object-fit: cover;
}